<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Titans>
    <data>
        <storage>
            <local_data>./Data</local_data>
            <node_data>~/TitansData</node_data>
        </storage>
        <logs>
            <path>./Tmp/Logs/Titans.log</path>
            <enabled>true</enabled>
            <expiration_day>7</expiration_day>
        </logs>
    </data>
    <drive>
        <master>
            <host>127.0.0.1:8964</host>
            <cluster_enabled>true</cluster_enabled>
        </master>
        <node>
            <node_name>slave1</node_name>
            <host>192.168.242.129:22</host>
            <ssh_user>root</ssh_user>
            <ssh_password>683683say</ssh_password>
            <ssh_private_key_path/>
        </node>
        <node>
            <node_name>slave2</node_name>
            <host>192.168.242.130:22</host>
            <ssh_user>root</ssh_user>
            <ssh_password>683683say</ssh_password>
            <ssh_private_key_path/>
        </node>
    </drive>
</Titans>